@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(../assets/imgs/fundo_galaxia.png);
}

body::-webkit-scrollbar {
  display: none; /*Esta função oculta a barra de rolagem da página - Dia - 25/06*/
}



:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 100%;
  margin: 0;
}

.containerIND{
  display: flex;

}

.containerIND .TextoLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 0;
  width: 100%;
}

.containerIND .logo{
width: 40%;
margin: 100px 0 0 -100px ;
font-size: 100px;
font-family: league-spartan;
-webkit-text-fill-color: rgba(230, 8, 8, 0);
-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: rgb(163, 29, 29);
align-items: center;
justify-content: center;
flex-direction: column;
}

.containerIND .descLogo{
  display: flex;
  width: 50%;
  font-size: 25px;
  margin: 50px 0 0 0;
}

.header {
  height: 100%;
  border-bottom: 10px solid #222222;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #222222;
  
}

.header a {
  text-decoration: none;
  color: tomato ;
  font: bold;
  display: flex;
  font-size: larger;
}

.agora {
  font-weight: 800;

}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: 10%;
  justify-content: space-between;
  list-style: none;
  color: tomato;
  margin-right: 10%;
}

.titulo {
  color: #f52c15;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin-left: 5%;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-size: cover;
  background-image: url('../assets/imgs/fundo_galaxia.png');
  background-attachment: fixed;
}

.banner .container {
  justify-content: center;
  align-items: end;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 30px 0;
  background-color: #414141;
  color: #fff;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

/* FOOTER */

.footer {
  background-color: #222222;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/fundo_galaxia.png');
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
}

.card {
  width: 27%;
  background-color:#121D39;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  flex-direction: column;
  height: fit-content;
  padding: 50px 0;
  
}

.card h2 {
  margin-top: 10;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #454A57;
  text-align: center;
  border-radius: 50px;
  margin-top: 5px;
  background-color: #454A57;
}

.formulario select {
  border: 2px solid gray;
  background-color: #882D86;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 15px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #5692D6;
  width: 120px;
  height: 50px;
  align-self: center;
  margin-top: 39px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/*  CADASTRO  */

.cadastro {
  height: 10%;
  background-image: url('../assets/imgs/fundo_galaxia.png');
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.cadastro .container {
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
}

.card {
  width: 27%;
  background-color:#222222;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  margin: 1%;
  padding-top: 0%;
}

.card h2 {
  margin-top: 5;
  font-size: 30px;
}

.formulario {
  display: flex;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #454A57;
  text-align: center;
  border-radius: 50px;
  margin-top: 0px;
  background-color: #454A57;
}

.formulario select {
  border: 2px solid #2f4d52;
  background-color: #454A57;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 50px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 3px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: tomato;
  width: 120px;
  height: 50px;
  align-self: center;
  margin-top: 39px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}


/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #222222;
  color: rgb(255, 255, 255);
  width: 230px;
  position: fixed;
  border-radius: 30px;
  border: tomato 3px solid;
  padding: 10px;
  margin-right: 10%;
  justify-content: center;
  text-align: center;
}


.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}

#html{
 scroll-behavior: smooth;
}