@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 100%;
  margin: 0;
}

.containerIND{
  display: flex;

}

.containerIND .TextoLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 0;
  width: 100%;
}

.containerIND .logo{
width: 40%;
margin: 100px 0 0 -100px ;
font-size: 100px;
font-family: league-spartan;
-webkit-text-fill-color: rgba(230, 8, 8, 0);
-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: rgb(163, 29, 29);
align-items: center;
justify-content: center;
flex-direction: column;
}

.containerIND .descLogo{
  display: flex;
  width: 50%;
  font-size: 25px;
  margin: 50px 0 0 0;
}

.header {
  height: 100%;
  border-bottom: 10px solid #222222;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: #222222;
  
}

.header a {
  text-decoration: none;
  color: tomato ;
  font: bold;
  display: flex;
  font-size: larger;
}

.agora {
  font-weight: 800;

}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  margin-left: 10%;
  justify-content: space-between;
  list-style: none;
  color: tomato;
  margin-right: 10%;
}

.titulo {
  color: #f52c15;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin-left: 5%;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-size: cover;
  background-image: url('../assets/imgs/fundo_galaxia.png');
  background-attachment: fixed;
}

.banner .container {
  justify-content: center;
  align-items: end;
  height: 100%;
  position: absolute;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* FOOTER */

.footer {
  background-color: #222222;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.footer .container .version {
  font-size: 12px;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #000000;
  color: rgb(255, 255, 255);
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}
